In [109]:
import numpy as np # linear algebra
import pandas as pd # data processing

<h3>Read Salaries.csv as a dataframe called sal.</h3>

In [110]:
sal = pd.read_csv('/content/sample_data/Salaries.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<h3>Check the head of the DataFrame.</h3>

In [50]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

<h3>Find out how many entries there are.</h3>

In [51]:
sal.info() # 148654 Entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

# Drop ID, Notes, Agency, and Status Columns

In [52]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [53]:
sal = sal.drop(['Id','Notes','Agency','Status'], axis = 1)

In [54]:
sal.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

# Get Overall Statistics About The Dataframe

In [55]:
#gives statistical report of all numerical and categorical data
sal.describe(include='all')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148654,148654,148049.0,148654.0,148654.0,112495.0,148654.000000,148654.000000,148654.000000
unique,110811,2159,109900.0,66555.0,84968.0,99635.0,NaN,NaN,NaN
top,Kevin Lee,Transit Operator,0.0,0.0,0.0,0.0,NaN,NaN,NaN
freq,13,7036,875.0,66103.0,35218.0,1053.0,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,74768.321972,93692.554811,2012.522643
std,NaN,NaN,NaN,NaN,NaN,NaN,50517.005274,62793.533483,1.117538
min,NaN,NaN,NaN,NaN,NaN,NaN,-618.130000,-618.130000,2011.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,36168.995000,44065.650000,2012.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,71426.610000,92404.090000,2013.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,105839.135000,132876.450000,2014.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,567595.430000,567595.430000,2014.000000

# Total Number of 'Job Titles' Contain Captain

In [56]:
sum(sal['JobTitle'].str.contains('captain', case=False))

552

In [57]:
sal[sal['JobTitle'].str.contains('captain', case=False)].count()

EmployeeName        552
JobTitle            552
BasePay             551
OvertimePay         552
OtherPay            552
Benefits            411
TotalPay            552
TotalPayBenefits    552
Year                552
dtype: int64

#  Display All the Employee Names From Fire Department

In [58]:
sal[sal['JobTitle'].str.contains('fire department', case=False)].EmployeeName

4              PATRICK GARDNER
6                    ALSON LEE
8               MICHAEL MORRIS
9           JOANNE HAYES-WHITE
10               ARTHUR KENNEY
                  ...
32623             JAMES BARDEN
36162       Joanne Hayes-White
72926     Joanne M Hayes-White
102303          Robert E Evans
110535    Joanne M Hayes-White
Name: EmployeeName, Length: 226, dtype: object

#  Replace 'Not Provided' in EmployeeName' Column to NaN

In [78]:
sal.columns
sal['EmployeeName'].replace('Not provided' ,np.NaN , inplace = True)

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'title_len'],
      dtype='object')

In [79]:
sal['EmployeeName'].unique()

array(['NATHANIEL FORD', 'GARY JIMENEZ', 'ALBERT PARDINI', ...,
       'Charlene D Mccully', nan, 'Joe Lopez'], dtype=object)

# What is the highest amount of TotalPay in the dataset ?

In [59]:
sal['TotalPay'].max()

567595.43

# What is the lowest amount of TotalPay in the dataset ?

In [60]:
sal['TotalPay'].min()

-618.13

<h3>The job title of  JOSEPH DRISCOLL</h3>

In [61]:
#filtering
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

<h3>How much does JOSEPH DRISCOLL make (including benefits)</h3>

In [62]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

<h3>The name of highest paid person (including benefits)</h3>

In [85]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()] ['EmployeeName']
# or
# sal.loc[sal['TotalPayBenefits'].idxmax()]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

<h3>The name of lowest paid person (including benefits)</h3>

In [64]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()] #['EmployeeName']
# or
# sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

## ITS NEGATIVE!! VERY STRANGE

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014

# What was the average (mean) TotalPay of all employees per year?

In [111]:
sal.info()   #convert BasePay into int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [114]:
sal['BasePay']. = sal['BasePay'].astype('int64')

array([167411.18, 155966.02, 212739.13, ..., '6.04', '15.50',
       'Not Provided'], dtype=object)

In [99]:
#groupby
sal.groupby('Year').mean()['BasePay']

          TotalPay  TotalPayBenefits  title_len
Year
2011  71744.103871      71744.103871  20.696231
2012  74113.262265     100553.229232  18.514415
2013  77611.443142     101440.519714  18.665904
2014  75463.918140     100250.918884  18.702752

# Find Average BasePay of Employee Having Job Title ACCOUNTANT

In [92]:
sal.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'title_len'],
      dtype='object')

In [97]:
sal[sal['JobTitle']=='ACCOUNTANT']['BasePay'].mean()

46643.172

<h3>Number of unique job titles</h3>

In [66]:
sal['JobTitle'].nunique()

2159

<h3>Find the top 5 most common jobs</h3>

In [67]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

<h3>How many Job Titles were represented by only one person in 2013?<h3>

In [68]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

<h3>How many people have the word Chief in their job title?<h3>

In [69]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [70]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

In [87]:
#method2
sum(sal['JobTitle'].str.contains('chief', case=False))

627

<h3>Is there a correlation between length of the Job Title string and Salary?</h3>

In [71]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [72]:
sal[['title_len','TotalPayBenefits']].corr() # No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000